body {
  font-family: Arial, sans-serif;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  height: 100vh;
}
h1 {
  font-size: 34px;
  color: #0e2431;
  font-family: arial, sans-serif;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 5px;
}
li {
  list-style: none;
  color: #0e2431;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 19px;
  line-height: 1;
  padding-bottom: 20%;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}

.Weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
.temperature {
  color: #0e2431;
  font-size: 70px;
  line-height: 1;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  text-align: center;
} 
li:first-letter {
  text-transform: capitalize;
}
.Weather-App {
  border: 1px solid #f27370;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/084/856/original/freshbackground.jpg?1686245109");
  padding: 15px;
  max-width: 700px;
  margin: 30px auto;
  border-radius: 20px;
  border-width: 3px;
  background-size: cover;
  margine-bottom:0;
 
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  .forecastRow {
  display: block;
  font-size: 14px;
  text-align: center;
  margin: 9% 5% 0 5%;
  border-radius: 10% solid transparent;
  background-color: rgba(32, 87, 155, 0.1);
}
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.units {
  position: relative;
  top: -34px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
#fahrenheit-link{
  cursor: pointer;
}
.forecastRow {
  display: block;
  font-size: 14px;
  text-align: center;
  margin: 9% 5% 0 5%;
  border-radius: 10% solid transparent;
  background-color: rgba(32, 87, 155, 0.1);
}
.forecasting {
  padding: 2px;
  margin: 10px auto;
}
.forecastDays {
  font-size: 15px;
  font-weight: 500;
}
.forecastTemp {
  font-size: 13px;
  .forecastTempMax {
  font-weight: bold;
}
.forecastTempMin {
  opacity: 0.5;
  color: #004dc0;
}
