body {
  font-family: Arial, sans-serif;
}
h1 {
  font-size: 34px;
  color: #0e2431;
  font-family: arial, sans-serif;
  line-height: 40px;
  font-weight: 100;
  margin: 0;
}
li {
  color: #0e2431;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}

.Weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
.temperature {
  color: #0e2431;
  font-size: 70px;
  line-height: 1;
}
.Weather-App {
  border: #f27370;
  padding: 15px;
  max-width: 900px;
  margin: 40px auto;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
}
.units {
  position: relative;
  top: -34px;
}

.serch-form {
  margin-bottom: 20px;
}
.footer-container {
  margin: 20px 80px;
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px;
  grid-template-rows: 20px auto 30px;
  grid-auto-columns: 1fr;
  gap: 0px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "Sunday Monday Tuesday Wednesday Thursday Friday Saturday"
    "temp1 temp2 temp3 temp4 temp5 temp6 temp7"
    "icon1 icon2 icon3 icon4 icon5 icon6 icon7";
}

.Sunday {
  grid-area: Sunday;
  display: center;
  color: #fc3a52;
  text-align: center;
  margin: 0px;
}
.Monday {
  grid-area: Monday;
  display: center;
  color: #fc3a52;
  text-align: center;
}
.Tuesday {
  grid-area: Tuesday;
  display: center;
  color: #fc3a52;
  text-align: center;
}
.Wednesday {
  grid-area: Wednesday;
  display: center;
  color: #fc3a52;
  text-align: center;
}
.Thursday {
  grid-area: Thursday;
  display: center;
  color: #fc3a52;
  text-align: center;
}
.Friday {
  grid-area: Friday;
  display: center;
  color: #fc3a52;
  text-align: center;
}
.Saturday {
  grid-area: Saturday;
  display: center;
  color: #fc3a52;
  text-align: center;
}
.temp1 {
  grid-area: temp1;
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
}
.temp2 {
  grid-area: temp2;
  padding: 5px 10px;
  font-size: 20px;
  text-align: center;
}
.temp3 {
  grid-area: temp3;
  padding: 5px 10px;
  font-size: 20px;
  text-align: center;
}
.temp4 {
  grid-area: temp4;
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
}
.temp5 {
  grid-area: temp5;
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
}
.temp6 {
  grid-area: temp6;
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
}
.temp7 {
  grid-area: temp7;
  padding: 5px 10px;
  font-size: 20px;
  text-align: center;
}
.icon1 {
  grid-area: icon1;
  padding: 5px 10px;
  text-align: center;
  font-size: 30px;
}
.icon2 {
  grid-area: icon2;
  padding: 5px 10px;
  text-align: center;
  font-size: 30px;
}
.icon3 {
  grid-area: icon3;
  padding: 5px 10px;
  text-align: center;
  font-size: 30px;
}
.icon4 {
  grid-area: icon4;
  padding: 5px 10px;
  text-align: center;
  font-size: 30px;
}
.icon5 {
  grid-area: icon5;
  padding: 5px 10px;
  text-align: center;
  font-size: 30px;
}
.icon6 {
  grid-area: icon6;
  padding: 5px 10px;
  text-align: center;
  font-size: 30px;
}
.icon7 {
  grid-area: icon7;
  padding: 5px 10px;
  font-size: 30px;
  text-align: center;
}
.pair1 {
  display: center;
  padding: 0px;
  clear: right;
  width: 100%;
  border: 3px solid #0e2431;
}
.pair2 {
  display: center;
  padding: 0px;
  clear: right;
  width: 100%;
  border: 3px solid #0e2431;
}
.pair3 {
  display: block;
  padding: 0px;
  clear: right;
  width: 100%;
  border: 3px solid #0e2431;
}
.pair4 {
  display: block;
  padding: 0px;
  clear: right;
  width: 100%;
  border: 3px solid #0e2431;
}
.pair5 {
  display: block;
  padding: 0px;
  clear: right;
  width: 100%;
  border: 3px solid #0e2431;
}
.pair6 {
  display: block;
  padding: 0px;
  clear: right;
  width: 100%;
  border: 3px solid #0e2431;
}
.pair7 {
  display: block;
  padding: 0px;
  clear: right;
  width: 100%;
  border: 3px solid #0e2431;
}
